label{
    color: rgb(233, 93, 163);
    font-size: 15px;
}
input{ 
    font-size: 25px;

}
h1{font-family: 'Libre Baskerville', serif;
}
form{
    color: rgb(125, 157, 216);
}

    
div{
    color: brown;
}